.banner {
  position: relative;
  text-align: center;

  &__container-bg {
    width: 100%;
  }

  &__logo {
    position: absolute;
    left: 3%;
    top: 4%;
    font-size: 21px;

    @media screen and (max-width: 600px) {
      font-size: 3.5vw;
    }
  }

  &__circle {
    width: 150px;
    height: 150px;
    border: 0;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #4E2A0E;
    bottom: 7%;
    left: 0%;

    &--second {
      left: 16%;
    }

    &--third {
      left: 66.5%;
    }
  
    &--fourth {
      left: 83%;
    }

    @media screen and (max-width: 800px) {
      width: 13vw;
      height: 13vw;
      font-size: 1.3vw;
    }

    @media screen and (max-width: 600px) {
      width: 16.66vw;
      height: 16.66vw;
    }
  }

  &__circle-text {
    &--yellow-line {
      position: relative;
      z-index: 1;

      &:before {
        border-top: 3px solid #FFEE00;
        content: "";
        margin: 0 auto;
        position: absolute;
        top: 50%;
        left: 0;
        right: 0;
        bottom: 0;
        width: 95%;
        z-index: -1;
      }
    }
    
  }

  &__circle-text-group {
    font-family: $noto;
    font-size: 14px;
    text-align: center;
    font-weight: $bold;
    position: absolute;

    @media screen and (max-width: 600px) {
      font-size: 1.58vw;
    }
  }


  &__center {
    position: absolute;
    left: 28%;
    top: 5%;
    width: 54%;
  }

  &__main-title {
    position: absolute;
    left: 5%;
    top: 44%;
    font-size: 32px;
    font-family:  $rounded-mplus;
    font-weight: $bold;
    color: #0C896A;
    white-space: nowrap;

    span {
      letter-spacing: -14px;
    }

    &--right {
      left: 70%;
    }
    
    @media screen and (max-width: 600px) {
      font-size: 5.3vw;
      left: 1.66vw;
      top: 24.83vw;
      letter-spacing: -2px;

      &--right {
        left: 67vw;
      }
    }

    @media screen and (max-width: 375px) {
      &--right {
        left: 68vw;
      }
    }
  }

  &__center-box {
    position: absolute;
    top: 38%;
    left: 41.5%;
    width: 16%;

    @media screen and (max-width: 600px) {
      width: 12%;
      left: 43.5%;
    }
  }

  &__center-box-text {
    font-size: 31px;

    @media screen and (max-width: 800px) {
      font-size: 3vw;
    }

    @media screen and (max-width: 600px) {
      font-size: 2.5vw;
    }
  }

  &__center-bottom-text {
    position: absolute;
    bottom: 21%;
    left: 41.5%;
    width: 16%;
    font-size: 21px;

    @media screen and (max-width: 800px) {
      font-size: 2.5vw;
    }

    @media screen and (max-width: 600px) {
      font-size: 2vw;
    }
  }

  &__center-yellow-line {
    height: 15px;
    width: 100%;
    background-color: #FE9D2B;

    @media screen and (max-width: 600px) {
      height: 1.6vw;
    }
  }

  &__round-text {
    position: absolute;
    font-family: $noto;
    font-weight: bold;
    font-size: 21px;
    top: 17%;
    left: 71%;
    color: #E0007A;

    @media screen and (max-width: 600px) {
      font-size: 3.5vw;
      top: 16%;
      left: 69.5%;
    }
  }
}