.bubble-box {
  position: relative;
  text-align: center;
  color: white;

  &__img {
    width: 100%;
  }

  &__text {
    position: absolute;
    top: 14px;
    left: 17px;
    width: 440px;
    margin: 0 auto;
    font-size: 11px;
    text-align: justify;
    font-family: $kosugi-maru;
    color: black;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    line-height: 1.2;

    @media screen and (max-width: 600px) {
      font-size: 1.83vw;
      width: 56.04vw;
      top: 2.33vw;
      left: 2.83vw;
    }
  }
}