.campaign {
  padding: 0 20px;

  @media screen and (max-width: 600px) {
    padding: 0 3.33vw;
  }

  &__list {
    margin-top: -10px;

    @media screen and (max-width: 375px) {
      margin-top: -8px;
    }
  }

  &__item {
    border: 3px solid #76C097;
    margin: 0 auto;
    margin-bottom: 15px;
    position: relative;
    width: 552.68px;

    @media screen and (max-width: 600px) {
      width: 88.11vw;
      margin: 2.5vw;
    }  

    @media screen and (max-width: 375px) {
      margin-bottom: 0;
    }  

    &--second {
      .campaign__col {
        width: auto;
      }

      .campaign__second-col {
        display: flex;
        flex-direction: column;
        width: 394px;
        margin-top: 1%;

        @media screen and (max-width: 600px) {
          width: 65.66vw;
        }  
      }

      .campaign__row {
        margin-top: -12px;
        margin-left: -4px;
      }

      .campaign__second-row {
        display: flex;
        flex-direction: row;
        line-height: 1;
        margin-top: 5px;
        margin-left: -6px;
      }

      .campaign__new-release-text {
        margin-top: 5px;

        @media screen and (max-width: 375px) {
          margin-left: -5px
        }
      }

      .campaign__yellow-box {
        top: 0;
        left: -5px;
      }

      .campaign__title-black {
        margin-top: -10px;
        margin-left: -2px;
        font-size: 26px;
        letter-spacing: -2px;

        @media screen and (max-width: 600px) {
          font-size: 4.33vw;
        }

        @media screen and (max-width: 375px) {
          margin-left: -2px;
        }
      }

      .campaign__black-small-text {
        margin-top: -9px;
        margin-right: 15px;
        line-height: 1;

        @media screen and (max-width: 375px) {
          margin-right: 8px;
        }
      }

      .campaign__regular-price {
        font-size: 22px;
        font-family: $noto;
        font-weight: $bold;

        @media screen and (max-width: 600px) {
          font-size: 3.66vw;
        }
      }

      .campaign__price {
        font-size: 51.5px;
        margin-left: 3px;
        font-family: $rounded-mplus;

        @media screen and (max-width: 600px) {
          font-size: 8.33vw;
        }
      }

      .campaign__yen {
        font-size: 35px;

        @media screen and (max-width: 600px) {
          font-size: 5.83vw;
        }
      }
      
      .campaign__btn {
        margin-top: 10px;
        margin-left: -9px;

        @media screen and (max-width: 375px) {
          margin-left: -6px;
          margin-top: 9px;
        }
      }

      .campaign__circle-img {
        @media screen and (max-width: 375px) {
          margin-top: 8px;
        }
      }
    }
  }

  &__wrapper {
    padding: 1vw 1vw 0 1vw;
    display: inline-flex;
    margin-left: 2%;

    @media screen and (max-width: 600px) {
      margin-left: 2%;
    }

    &--second {
      position: relative;
    }
  }

  &__col {
    display: flex;
    flex-direction: column;
    width: 393.94px;
    
    @media screen and (max-width: 600px) {
      margin-top: 1%;
      width: 65.65vw;
    }

    &--with-padding {
      padding: 20px 0;
      align-items: center;
      width: 107.28px;
      margin-left: -7px;

      @media screen and (max-width: 600px) {
        padding: 2vw 0;
        margin-top: 2%;
        margin-left: -1.16vw;
        width: 17.88vw;
      }

      .campaign__new-release-text {
        font-size: 10px;

        @media screen and (max-width: 600px) {
          margin-top: 0;
          margin-left: -0.83vw;
          font-size: 1.66vw;
        }

        @media screen and (max-width: 375px) {
          margin-left: -8px;
        }
      }
    }
  }

  &__row {
    display: flex;
    flex-direction: row;
    line-height: 1;
  }

  &__row-width {
    width: 320px;
    
    @media screen and (max-width: 600px) {
      width: 53.33vw;
    }
  }

  &__title {
    font-size: 24px;
    color: #619C73;
    border-bottom: 1px solid #1A1818;
    font-family: $mochiypop;
    padding-bottom: 5px;
    margin-top: -3px;
    margin-left: -1px;

    @media screen and (max-width: 600px) {
      font-size: 3.7vw;
    }
  }

  &__title-black {
    font-family: $rounded-mplus;
    font-weight: bold;
    font-size: 24px;
    color: #1A1818;
    line-height: 1.5;

    @media screen and (max-width: 600px) {
      font-size: 3.7vw;
      padding-right: 3.3vw;
      margin-top: 3px;
      margin-left: 6px;
    }

    @media screen and (max-width:375px) {
      margin-top: 0;
      margin-left: 2px;
    }

    // @media screen and (max-width: 600px) {
    //   padding-right: 2.3vw;
    // }
  }

  &__black-small-text {
    font-family: $noto;
    font-weight: bold;
    padding: 5px 0;
    margin-right: 20px;
    margin-top: 2px;
    font-size: 9px;
    line-height: 1.2;

    @media screen and (max-width: 600px) {
      font-size: 1.5vw;
    }

    @media screen and (max-width:375px) {
      margin-right: 17px;
      margin-top: -1px;
    }
  }

  &__text-with-arrow {
    font-family: $rounded-mplus;
    font-weight: bold;
    font-size: 13px;

    @media screen and (max-width: 600px) {
      font-size: 2.16vw;
      margin-left: 7px;
      margin-top: 2px;
    }

    @media screen and (max-width: 375px) {
      margin-top: -1px;
      margin-left: 2px;
    }
  }

  &__title-col {
    display: flex;
    justify-content: space-between;
  }

  &__circle-img {
    width: 44px;
    height: 44px;
    padding-right: 2px;
    margin-top: 9px;
      margin-right: 3px;

    @media screen and (max-width: 600px) {
      width: 7.34vw;
      height: 7.34vw;
      margin-top: 1.5vw;
      margin-right: 0.5vw;
    }

    @media screen and (max-width: 375px) {
      margin-right: 7px;
    }

    img {
      width: 100%;
    }
  }

  &__title-pink {
    font-family: $rounded-mplus;
    font-weight: bold;
    color: #E0007A;
    position: relative;
    text-shadow: 2px 0 0 #fff, 4px 0px 0px pink;
    margin-top: -3px;

    @media screen and (max-width: 375px) {
      margin-top: -1px;
    }
  }

  &__pink-small-text {
    position: absolute;
    font-family: $noto-serif;
    font-weight: bold;
    font-size: 11px;
    top: 10%;
    right: 21%;
    text-shadow: none;

    @media screen and (max-width: 600px) {
      top: 10%;
      right: 21%;
      font-size: 1.83vw;
    }
  }

  &__title-pink-36 {
    font-size: 36px;

    @media screen and (max-width: 600px) {
      font-size: 6vw;
    }
  }

  &__title-pink-41 {
    font-size: 41.22px;

    @media screen and (max-width: 600px) {
      font-size: 6.87vw;
    }
  }

  &__title-pink-yen {
    font-size: 28px;

    @media screen and (max-width: 600px) {
      font-size: 4.66vw;
    }
  }

  &__btn {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #56A4A2;
    border-radius: 10px;
    box-shadow: 1px -6px 6px rgb(86 164 162 / 68%);
    margin-top: 3px;
    height: 77px;

    @media screen and (max-width: 600px) {
      margin-top: 3px;
      height: 12.86vw;
    }

    @media screen and (max-width: 375px) {
      margin-top: 2px;
      margin-left: -2px;
    }
  }

  &__btn-content {
    display: flex;
    align-items: center;
    justify-content: center;

    span {
      font-size: 36.53px;
      font-family: $noto;
      font-weight: bold;
      color: #fff;
      margin-left: 5px;
      letter-spacing: -2px;

      @media screen and (max-width: 600px) {
        font-size: 6.08vw;
      }

      @media screen and (max-width: 600px) {
        margin-left: 3px;
      }
    }
  }

  &__cart-img {
    height: 60px;
    width: 60px;

    @media screen and (max-width: 600px) {
      width: 10vw;
      height: 10vw;
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
      margin-left: 5px;
      margin-top: 2px;

      @media screen and (max-width: 375px) {
        margin-left: 0;
        margin-top: 2px;
      }
    }
  }

  &__yellow-box {
    position: relative;
    width: 107.28px;
    height: 146.16px;
    
    overflow: hidden;
    z-index: 1;

    @media screen and (max-width: 600px) {
      height: 24.36vw;
      width: 17.88vw;
      top: 5px;
    }

    @media screen and (max-width: 375px) {
      top: 3px;
      left: -5px;
    }

    img {
      width: 100%;
    }
  }

  &__yellow-box-text {
    position:absolute;
    z-index: 1;
    top: 25%;
    left: 25%;

    @media screen and (max-width: 600px) {
      left: 22%;
      font-size: 1.8vw;
    }
  }

  &__yellow-line {
    height: 5px;
    width: 100%;
    background-color: #FE9D2B;
  }

  &__yellow-bottom-text {
    position: absolute;
    bottom: 20%;
    left: 25%;

    @media screen and (max-width: 600px) {
      left: 35%;
      font-size: 1vw;
    }
  }

  &__ribbon {
    width: 73.5px;
    position: absolute;
    right: 30px;
    top: 10px;

    @media screen and (max-width: 600px) {
      width: 12.25vw;
      right: 22px;
    }

    @media screen and (max-width: 375px) {
      right: 10px;
      top: 5px;
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }

  &__ribbon-text {
    position: absolute;
    left: 9%;
    top: 9%;
    line-height: 1.3;
    color: #fff;
    font-family: $noto-serif;
    font-weight: bold;
    font-size: 32px;

    @media screen and (max-width: 600px) {
      font-size: 5.3vw;
    }
  }

  &__price-text {
    color: #1A1818;
  }

  &__ribbon-horizontal {
    width: 155px;
    position: relative;

    @media screen and (max-width: 600px) {
      width: 25.8vw;
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }

  &__ribbon-horizontal-text {
    position: absolute;
    left: 10%;
    top: 5%;
    line-height: 1.5;
    color: #fff;
    font-family: $noto-serif;
    font-weight: bold;
    font-size: 32px;

    @media screen and (max-width: 600px) {
      font-size: 5.33vw;
      left: 9%;
      top: 0%;
    }
  }

  &__paragraph-bottom {
    width: 547.73px;
    text-align: left;
    font-size: 8px;
    font-family: $kosugi-maru;
    line-height: 1.5;
    margin: 0 auto;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    line-height: 1.5;
    margin-bottom: 10px;

    @media screen and (max-width: 800px) {
      font-size: 1.33vw;
      width: 87.28vw;
    }

    @media screen and (max-width: 375px) {
      width: 90.28vw;
      text-align: justify;
      margin-top: 7px;
    }
  }

  &__price-text-small {
    position: absolute;
    font-family: $noto-serif;
    font-weight: bold;
    top: 23%;
    left: 90%;
    font-size: 9px;
    line-height: 1;

    @media screen and (max-width: 600px) {
      font-size: 1.5vw;
    }
  }

  &__new-release-text {
    font-family: $noto;
    font-weight: bold;
    font-size: 10px;
    line-height: 1;

    @media screen and (max-width: 600px) {
      font-size: 1.66vw;
    }
  }
}
