.customer-voice {
  position: relative;
  text-align: center;
  color: white;
  margin-top: 31px;
  max-width: 800px;
  margin: 0 auto;

  @media screen and (max-width: 600px) {
    margin-top: 5.16vw;
  }

  &__container-bg {
    width: 100%;
  }

  &__title {
    position: absolute;
    font-size: 31px;
    font-family: $rounded-mplus;
    font-weight: bold;
    color: #EC4115;
    top: 3%;
    width: 100%;
    text-align: center;
    
    @media screen and (max-width: 600px) {
      top: 3%;
      font-size: 5.1vw;
    }
  }

  &__item {
    position: relative;
    text-align: center;
    width: 430.08px;
    margin: 0 auto;

    @media screen and (max-width: 600px) {
      width: 71.68vw;
      margin-top: 4.83vw;
      margin-left: 15vw;
    }


    // &:first-child {
    //   margin-top: -10%;
    // }

    // &--flipped {
    //   left: -7%;

    //   .customer-voice__box-content {
    //     left: 29%;
    //   }
    // }
  }

  &__box-img {
    width: 100%;
  }

  &__box-content {
    position: absolute;
    top: 17px;
    width: 68%;
    left: 32px;

    @media screen and (max-width: 600px) {
      width: 65%;
      top: 2.83vw;
      left: 5.33vw;
    }

    &--second {
      top: 164px;
      left: 113px;
      width: 255.14px;

      @media screen and (max-width: 600px) {
        top: 27.33vw;
        left: 18.83vw;
        width: 42.52vw;
      }

      .customer-voice__text {
        letter-spacing: -2px;
      }
    }

    &--third {
      top: 44%;
    }

    &--fourth {
      top: 65%;
    }

    &--fifth {
      top: 85.5%;
    }
  }

  &__text {
    text-align: justify;
    font-size: 11px;
    color: #000;
    margin: 0 auto;
    font-family: $kosugi-maru;
    line-height: 1.5;

    @media screen and (max-width: 600px) {
      font-size: 1.83vw;
    }
  }

  &__date {
    font-family: $noto;
    font-weight: bold;
    font-size: 11px;
    color: #EC411B;
    text-align: right;

    @media screen and (max-width: 600px) {
      font-size: 1.83vw;
      margin-top: -1.33vw;
    }
  }
}