.faq {
  position: relative;
  text-align: center;
  max-width: 800px;
  margin: 0 auto;

  @media screen and (max-width: 600px) {
    margin-top: 3.34vw;
  }

  @media screen and (max-width: 375px) {
    margin-top: 6.34vw;
  }

  &__container-bg {
    width: 100%;
  }

  &__title {
    font-size: 60px;
    color: #39A95E;
    position: absolute;
    font-size: 31px;
    font-family: $rounded-mplus;
    font-weight: bold;
    top: 6%;
    width: 100%;
    text-align: center;
    line-height: 1.5;
    
    @media screen and (max-width: 600px) {
      font-size: 5.1vw;
      top: 4%;
    }
  }

  &__list {
    padding: 40px 43px 0 60px;
    width: 90%;
    margin: 0 auto;

    @media screen and (max-width: 600px) {
      padding: 6.66vw 5.16vw 0 10vw;
      width: 100%;
    }
  }

  &__item {
    display: flex;
    border: 1px solid #2BB673;
    margin-bottom: 13px;
  }

  &__number {
    display: flex;
    justify-content: center;
    flex-direction: column;
    background: #2BB673;
    padding: 0 8px;
    color: #fff;
    font-family: $caveat-regular;
    font-size: 16px;
    text-align: center;
    line-height: 1.5;

    @media screen and (max-width: 600px) {
      font-size: 2.66vw;
      padding: 0 1.33vw;
    }
  }

  &__number-text {
    font-size: 30px;
    line-height: 1;
    font-family: $yuji;

    @media screen and (max-width: 600px) {
      font-size: 5vw;
    }
  }

  &__question {
    text-align: left;
    padding: 10px 20px;

    @media screen and (max-width: 600px) {
      padding: 1.66vw;
    }

    @media screen and (max-width: 375px) {
      padding: 4px;
    }
  }

  &__question-text {
    font-family: $rounded-mplus;
    font-weight: bold;
    font-size: 16px;

    @media screen and (max-width: 600px) {
      font-size: 2.66vw;
    }
  }

  &__question-content {
    font-family: $kosugi-maru;
    font-size: 10px;
    line-height: 1.5;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;

    @media screen and (max-width: 600px) {
      font-size: 1.66vw;
    }
  }
}