.footer {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  background-color: #76C097;
  color: #fff;
  width: 100%;
  padding: 18px;
  background-color: #76C097;
  color: #fff;
  margin-top: 30px;

  @media screen and (max-width: 600px) {
    margin-top: 5vw;
    padding: 3vw;
  }


  &__text {
    text-align: center;
    font-size: 14px;

    @media screen and (max-width: 600px) {
      font-size: 2.5vw;
    }
  }
}