.info {
  position: relative;
  text-align: center;
  color: white;
  margin: 0 auto;
  margin-bottom: 26px;
  margin-top: -8px;
  max-width: 800px;

  @media screen and (max-width: 600px) {
    margin-bottom: 4.66vw;
  }

  &__container-bg {
    width: 100%;
  }

  &__title {
    position: absolute;
    font-size: 31px;
    width: 100%;
    font-family: $rounded-mplus;
    font-weight: bold;
    color: #EC4115;
    top: 28px;
    text-align: center;
    line-height: 1.5;
    
    @media screen and (max-width: 600px) {
      font-size: 5.33vw;
      top: 4.66vw;
      line-height: 1;
      letter-spacing: -3px;
    }

    @media screen and (max-width: 375px) {
      top: 23px;
      letter-spacing: -2px;
    }
  }

  &__list {
    margin-top: 20%;
    padding: 0 90px;

    @media screen and (max-width: 600px) {
      margin-top: 18vw;
      padding: 0 8.33vw;
      padding: 0 8.33vw;
    }
  }

  &__circle-content {
    position: absolute;
    top: 13%;
    width: 100%;
    line-height: 1.5;
  }

  &__item {
    margin-top: -15%;
    position: relative;
    text-align: center;

    @media screen and (max-width: 600px) {
      width: 83.70vw;
    }

    &--second {
      margin-top: -19%;

      .info__circle-content {
        top: 35%;
      }
    }

    &--third {
      margin-top: -13%;

      .info__circle-content {
        top: 33%;
      }
    }

    &--fourth {
      margin-top: -10%;

      .info__circle-content {
        top: 29%;
      }
    }

    &--fifth {
      margin-top: -6%;

      .info__circle-content {
        top: 24.5%;
      }
    }
  }

  &__circle-img {
    width: 100%;
  }

  &__circle-title {
    color: #FE9D2B;
    font-size: 15px;
    font-family: $noto-serif;
    font-weight: $regular;

    @media screen and (max-width: 600px) {
      font-size: 2.5vw;
    }
  }

  &__circle-subtitle {
    color: #EC4115;
    font-family: $rounded-mplus;
    font-weight: bold;
    font-size: 16px;

    @media screen and (max-width: 600px) {
      font-size: 2.3vw;
    }
  }

  &__white-line {
    width: 100%;
    height: 2px;
    margin: 10px 0;
    background-color: #fff;

    @media screen and (max-width: 600px) {
      margin: 4px 0;
    }
  }

  &__text {
    font-family: $kosugi-maru;
    font-size: 12px;
    line-height: 1.5;
    color: #000;
    width: 290.35px;
    margin: 0 auto;
    text-align: left;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 8;
    -webkit-box-orient: vertical;

    @media screen and (max-width: 600px) {
      font-size: 2vw;
      width: 48.39vw;
      text-align: justify;
      padding-top: 3px;
      -webkit-line-clamp: 6;
    }

    @media screen and (max-width: 600px) {
      -webkit-line-clamp: 5;
    }
  }
}