.pr-column {
  position: relative;
  text-align: center;
  max-width: 800px;
  margin: 0 auto;
  margin-bottom: 30px;

  @media screen and (max-width: 600px) {
    margin-top: 5.5vw;
    margin-bottom: 7.33vw;
  }

  @media screen and (max-width: 375px) {
    margin-top: 17px;
  }

  &__container-bg {
    width: 100%;
  }

  &__title {
    position: absolute;
    font-size: 31px;
    font-family: $rounded-mplus;
    font-weight: bold;
    color: #4E2A0E;
    top: 3%;
    width: 100%;
    text-align: center;
    line-height: 1.5;
    
    @media screen and (max-width: 600px) {
      font-size: 5.1vw;
      margin-top: 2.50vw;
    }
  }

  &__content {
    width: 550px;
    margin: 0 auto;
    padding: 20px 0;

    @media screen and (max-width: 600px) {
      padding: 2vw 0 2vw 1.33vw;
      margin-top: 3.66vw;
      width: 85%;
    }
  }

  &__box {
    display: flex;
    border: 2px solid #4E2A0E;
    padding: 20px;
    width: 100%;
    justify-content: space-between;

    @media screen and (max-width: 600px) {
      padding: 1.5vw;
    }
  }

  &__img-border {
    border: 1px solid #4E2A0E;
    width: 188.78px;
    height: 270px;

    @media screen and (max-width: 600px) {
      width: 31.46vw;
      height: 45vw;
    }
  }

  &__text {
    margin-top: 7px;
    width: 265.14px;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 14;
    -webkit-box-orient: vertical;
    text-align: justify;
    padding-right: 10px;
    font-family: $kosugi-maru;
    font-size: 10px;
    line-height: 1.4;

    @media screen and (max-width: 600px) {
      margin-top: 1.16vw;
      width: 42.19vw;
      font-size: 1.66vw;
    }
  }
}