.sns {
  position: relative;
  text-align: center;
  max-width: 800px;
  margin: 0 auto;

  @media screen and (max-width: 600px) {
    margin-top: -5px;
  }

  // &__container {
  //   height: 1026px;

  //   @media screen and (max-width: 600px) {
  //     height: auto;
  //   }
  // }

  &__container-bg {
    width: 100%;
    height: 100%;

    @media screen and (max-width: 600px) {
      display: none;
    }
  }

  &__container-bg-sp {
      display: none;

    @media screen and (max-width: 600px) {
      display: block;
      width: 100%;
      height: 100%;
    }
  }

  &__title {
    position: absolute;
    font-size: 31px;
    font-family: $rounded-mplus;
    font-weight: bold;
    color: #E0007A;
    top: 3%;
    width: 100%;
    text-align: center;
    line-height: 1.5;
    
    @media screen and (max-width: 600px) {
      font-size: 5.1vw;
      line-height: 1.2;
      top: 4.16vw;
    }
  }

  &__list {
    position: absolute;
    top: 12%;
    padding: 50px;
    width: 100%;

    @media screen and (max-width: 600px) {
      padding: 15px 30px 15px 15px;
    }
  }

  &__item {
    width: 332.05px;
    margin-left: 15%;
    margin-top: -4%;
    position: relative;

    @media screen and (max-width: 600px) {
      width: 55.34vw;
      margin-top: -2.83vw;
      margin-left: 13.33vw;
    }

    &:nth-child(2),
    &:nth-child(4) {
      margin-left: 33%;
      margin-top: -5%;
    }

    &:nth-child(3) {
      margin-top: -6%;
    }

    &--right {
      .sns__box-text {
        transform: rotate(6deg);
        top: 35%;
      }
    }
  }

  &__box-img {
    width: 100%;
  }

  &__box-text {
    position: absolute;
    top: 42%;
    left: 19%;
    font-size: 36px;
    transform: rotate(-6deg);

    @media screen and (max-width: 600px) {
      font-size: 3vw;
    }

    &--right {
      top: 30%;
      left: 60%;
    }
  }
}