.survey {
  position: relative;
  text-align: center;
  color: white;

  &__container {
    @media screen and (max-width: 600px) {
      height: 112vw;
    }
  }

  &__container-bg {
    width: 100%;
    height: 100%;
  }

  &__title {
    font-family: $rounded-mplus;
    font-weight: bold;
    font-size: 33px;
    color: #007EC7;
    position: absolute;
    top: 4%;
    text-align: center;
    width: 100%;
    
    @media screen and (max-width: 600px) {
      font-size: 5.50vw;
      letter-spacing: -2px;
      line-height: 1;
      top: 5vw;
    }
  }

  &__list {
    position: absolute;
    top: 13%;
    padding: 0 50px;
    width: 100%;
    display: flex;
    flex-direction: column;

    @media screen and (max-width: 600px) {
      padding: 0 5vw 0 8vw;
    }
  }

  &__item {
    width: 475px;

    @media screen and (max-width: 600px) {
      width: 60.89vw;
      margin-top: -1.66vw;

      &:first-child {
        margin-top: 0;
      }
    }

    &--flip {
      margin-left: auto;

      .bubble-box__img {
        transform: scaleX(-1);
      }
    }
  }

  &__item-title {
    font-size: 13px;
    color: #004497;
    text-align: left;
    padding: 0 15px;
    font-family: $noto;
    font-weight: bold;

    @media screen and (max-width: 600px) {
      padding: 0 2.5vw;
      font-size: 2.66vw;
      margin-top: -3px;
      letter-spacing: -1px;
    }
  }
}
