.video-section {
  position: relative;
  text-align: center;
  max-width: 800px;
  margin: 0 auto;
  margin-top: 31px;

  @media screen and (max-width: 600px) {
    margin-top: 4.33vw;
  }

  // @media screen and (max-width: 375px) {
  //   margin-top: 4.33vw;
  // }

  &__container-bg {
    width: 100%;
  }

  &__title {
    position: absolute;
    width: 100%;
    font-size: 31px;
    font-family: $rounded-mplus;
    font-weight: bold;
    color: #8B4493;
    top: 6%;
    text-align: center;
    line-height: 1.5;
    
    @media screen and (max-width: 600px) {
      font-size: 5.1vw;
      top: 5%;
    }
  }

  &__content {
    margin-top: 10%;
    
    @media screen and (max-width: 600px) {
      margin-top: 6vw;
    }

    @media screen and (max-width: 375px) {
      margin-top: 7vw;
    }
  }

  &__img-holder {
    width: 492.04px;
    margin: 0 auto;

    @media screen and (max-width: 600px) {
      width: 82vw;
    }
  }

  &__img {
    width: 100%;
  }

  &__text {
    font-family: $kosugi-maru;;
    font-size: 28px;
    line-height: 1.5;
    padding: 30px 0;
    color: #8B4493;

    @media screen and (max-width: 600px) {
      font-size: 3vw;
      padding: 6vw 0;
      margin-top: -3px;
      margin-left: 10px;
    }

    @media screen and (max-width: 375px) {
      margin-top: -5px;
    }
  }
}