//font-size
$font-30: 3rem;
$font-20: 2rem;

//font-weight
$regular: 300;
$medium: 500;
$bold: 700;
$demibold: 600;
$extrabold: 900;


//color
$white: #fff;
$black: #000;


//fonts
$caveat-regular: 'Caveat-Regular', sans-serif;
$rounded-mplus: 'M PLUS Rounded 1c', 'sans-serif';
$noto: 'Noto Sans JP', sans-serif;
$mochiypop: 'Mochiy Pop P One', sans-serif;
$kosugi-maru: 'Kosugi Maru', sans-serif;
$yuji: 'Yuji Hentaigana Akari', cursive;
$noto-serif: 'Noto Serif JP', serif;