.section.campaign.max-width
  .campaign__list
    .campaign__item
      .campaign__wrapper
        .campaign__col.campaign__col--with-padding
          span.campaign__new-release-text 1日の目安量○粒
          .campaign__circle-img
            img(src="dist/image/circle-btn.png")
          
          .campaign__yellow-box
            img.campaign__yellow-box-img(src="dist/image/campaign-yellow-box.svg")
            
        .campaign__col
          .campaign__row.campaign__row-width
            .campaign__col
              .campaign__title 〈初回限定〉お試しキャンペーン
              .campaign__title-col
                .campaign__title-black efsマルチビタミン
                span.campaign__black-small-text 内容量 ○○○粒
                  br
                  | （約○ヶ月分）
              
              span.campaign__text-with-arrow ▼通常価格 0,000円
          .campaign__col.campaign__ribbon
            img(src="dist/image/campaign-ribbon.svg")
            span.campaign__ribbon-text 送料
              br
              | 無料
      
          .campaign__title-pink 
            p 
              span.campaign__title-pink-36 特別価格 
              span.campaign__title-pink-41 0,000
              span.campaign__title-pink-yen 円
            //- p.campaign__title-white-bg 特別価格 0,000円
            span.campaign__pink-small-text （税込）
          
          .campaign__btn
            .campaign__btn-content
              .campaign__cart-img
                img(src="dist/image/cart.svg")
              span.font-kg-bold カートに入れる

    .campaign__item.campaign__item--second
      .campaign__wrapper.campaign__wrapper--second
        .campaign__col
          .campaign__row.align-center
            .campaign__circle-img
              img(src="dist/image/circle-btn.png")
            span.campaign__new-release-text 1日の目安量
              br
              | ○粒
          
          .campaign__yellow-box
            img.campaign__yellow-box-img(src="dist/image/campaign-yellow-box.svg")
            
        .campaign__second-col
          .campaign__col
            .campaign__title-col
              .campaign__title-black efsマルチビタミン
              span.font-9.font-noto.campaign__black-small-text 内容量 ○○○粒
                br
                | （約○ヶ月分） 
            .campaign__second-row
              .campaign__ribbon-horizontal
                img.campaign__yellow-box-img(src="dist/image/ribbon-horizontal.svg")
                span.campaign__ribbon-horizontal-text 送料無料
              span.font-20.p-lr-5.font-noto.bold 通常
                br
                | 価格
              .campaign__price-text 
                p.campaign__price.bold 0,000
                  span.campaign__yen.bold 円
                //- p.campaign__title-white-bg 特別価格 0,000円
                span.campaign__price-text-small （税込）

                    
        
          
          .campaign__btn
            .campaign__btn-content
              .campaign__cart-img
                img(src="dist/image/cart.svg")
              span.font-kg-bold カートに入れる

  p.campaign__paragraph-bottom これ[原材料]これはコピーです○○○○○○○。これはコピーです○○○○○○○。これはコピーです○○○○○○○。これはコピーです。これはコピーです○○○○○○○。[栄養成分]○○○○○○○。これはコピーです○○○○○○○。これはコピーです。○○○○○○○。これはコピーです○○○○○○○。[保存方法]これはコピーです○○○○○○○。これはコピーです○○○○○○○。[注意事項]これはコピーです○○○○○○○。これはコピーです○○○○○○○。これはコピーです○○○○○○○。これはコピーです○○○○○○○。