.section.campaign.max-width
  p.center-paragraph これはコピーです○○○○○○○○○○。これはコピーです○○○○○○○○○○。
    br
    | これはコピーです○○○○○○○○○○。これはコピーです○○○○○○○○○○。これはコピーです○○○○○○○○○○。これはコピーです○○○○○○○○○○。
    | これはコピーです○○○○○○○○○○。これはコピーです○○○○○○○○○○。これはコピーです○○○○○○○○○○。
  