.section.faq
  .faq__container
    img.faq__container-bg(src="dist/image/faq-bg.svg")

    p.faq__title.font-jun34 よくあるご質問

    .faq__list
      .faq__item 
        .faq__number 
          p question 
          p.faq__number-text 1
        .faq__question
          p.faq__question-text Q.質問内容○○○○○○○○○○○○○○○○○。
          p.faq__question-content これはコピーです○○○○○○○。これはコピーです○○○○○○○。これはコピーです○○○○○○○。これはコピーです。これはコピーです○○○○○○○。○○○○○○○。これはコピーです○○○○○○○。これはコピーです。○○○○○○○。これはコピーです○○○○○○○。これはコピーです○○○○○○○。
      
      .faq__item 
        .faq__number 
          p question 
            br
            span.faq__number-text 2
        .faq__question
          p.faq__question-text Q.質問内容○○○○○○○○○○○○○○○○○。
          p.faq__question-content これはコピーです○○○○○○○。これはコピーです○○○○○○○。これはコピーです○○○○○○○。これはコピーです。これはコピーです○○○○○○○。○○○○○○○。これはコピーです○○○○○○○。これはコピーです。○○○○○○○。これはコピーです○○○○○○○。これはコピーです○○○○○○○。
      
      .faq__item 
        .faq__number 
          p question 
            br
            span.faq__number-text 3
        .faq__question
          p.faq__question-text Q.質問内容○○○○○○○○○○○○○○○○○。
          p.faq__question-content これはコピーです○○○○○○○。これはコピーです○○○○○○○。これはコピーです○○○○○○○。これはコピーです。これはコピーです○○○○○○○。○○○○○○○。これはコピーです○○○○○○○。これはコピーです。○○○○○○○。これはコピーです○○○○○○○。これはコピーです○○○○○○○。
      
      .faq__item 
        .faq__number 
          p question 
            br
            span.faq__number-text 4
        .faq__question
          p.faq__question-text Q.質問内容○○○○○○○○○○○○○○○○○。
          p.faq__question-content これはコピーです○○○○○○○。これはコピーです○○○○○○○。これはコピーです○○○○○○○。これはコピーです。これはコピーです○○○○○○○。○○○○○○○。これはコピーです○○○○○○○。これはコピーです。○○○○○○○。これはコピーです○○○○○○○。これはコピーです○○○○○○○。
      
      .faq__item 
        .faq__number 
          p question 
            br
            span.faq__number-text 5
        .faq__question
          p.faq__question-text Q.質問内容○○○○○○○○○○○○○○○○○。
          p.faq__question-content これはコピーです○○○○○○○。これはコピーです○○○○○○○。これはコピーです○○○○○○○。これはコピーです。これはコピーです○○○○○○○。○○○○○○○。これはコピーです○○○○○○○。これはコピーです。○○○○○○○。これはコピーです○○○○○○○。これはコピーです○○○○○○○。