.info
  .info__container
    img.info__container-bg(src="dist/image/info-yellow-top.svg")

    p.info__title こんなに違います。
      br
      | 願いを叶えるefsマルチビタミン。
  
  .info__list
    .info__item
      img.info__circle-img(src="dist/image/info-circle/info-circle-1.svg")
      .info__circle-content
        p.info__circle-title Text Text Text Text Text Text 
        .info__white-line
        p.info__circle-subtitle 見出しが入ります。見出しが入ります。
        p.info__text これはコピーです○○○○○○○。これはコピーです○○○○○○○。これはコピーです○○○○○○○。これはコピーです。これはコピーです○○○○○○○。○○○○○○○。これはコピーです○○○○○○○。これはコピーです。○○○○○○○。これはコピーです○○○○○○○。これはコピーです○○○○○○○。
    
    .info__item.info__item--second
      img.info__circle-img(src="dist/image/info-circle-2.svg")
      .info__circle-content
        p.info__circle-title Text Text Text Text Text Text 
        .info__white-line
        p.info__circle-subtitle 見出しが入ります。見出しが入ります。
        p.info__text これはコピーです○○○○○○○。これはコピーです○○○○○○○。これはコピーです○○○○○○○。これはコピーです。これはコピーです○○○○○○○。○○○○○○○。これはコピーです○○○○○○○。これはコピーです。○○○○○○○。これはコピーです○○○○○○○。これはコピーです○○○○○○○。
    
    .info__item.info__item--third
      img.info__circle-img(src="dist/image/info-circle-3.svg")
      .info__circle-content
        p.info__circle-title Text Text Text Text Text Text 
        .info__white-line
        p.info__circle-subtitle 見出しが入ります。見出しが入ります。
        p.info__text これはコピーです○○○○○○○。これはコピーです○○○○○○○。これはコピーです○○○○○○○。これはコピーです。これはコピーです○○○○○○○。○○○○○○○。これはコピーです○○○○○○○。これはコピーです。○○○○○○○。これはコピーです○○○○○○○。これはコピーです○○○○○○○。
    
    .info__item.info__item--fourth
      img.info__circle-img(src="dist/image/info-circle-4.svg")
      .info__circle-content
        p.info__circle-title Text Text Text Text Text Text 
        .info__white-line
        p.info__circle-subtitle 見出しが入ります。見出しが入ります。
        p.info__text これはコピーです○○○○○○○。これはコピーです○○○○○○○。これはコピーです○○○○○○○。これはコピーです。これはコピーです○○○○○○○。○○○○○○○。これはコピーです○○○○○○○。これはコピーです。○○○○○○○。これはコピーです○○○○○○○。これはコピーです○○○○○○○。
    
    .info__item.info__item--fifth
      img.info__circle-img(src="dist/image/info-circle-5.svg")
      .info__circle-content
        p.info__circle-title Text Text Text Text Text Text 
        .info__white-line
        p.info__circle-subtitle 見出しが入ります。見出しが入ります。
        p.info__text これはコピーです○○○○○○○。これはコピーです○○○○○○○。これはコピーです○○○○○○○。これはコピーです。これはコピーです○○○○○○○。○○○○○○○。これはコピーです○○○○○○○。これはコピーです。○○○○○○○。これはコピーです○○○○○○○。これはコピーです○○○○○○○。
