.section.sns
  .sns__container
    img.sns__container-bg(src="dist/image/sns-bg.svg")
    img.sns__container-bg-sp(src="dist/image/sns-bg-sp.svg")

    p.sns__title.font-jun34 SNSでも
      br
      | 「esfマルチビタミン」を大絶賛
    
    .sns__list
      .sns__item
        img.sns__box-img(src="dist/image/sns-box-img.svg")
        //- p.sns__box-text 写真
        //- p.sns__box-text.sns__box-text--right インスタ
        //-   br
        //-   | 投稿画面
      
      .sns__item.sns__item--right
        img.sns__box-img(src="dist/image/sns-box-img-right.svg")
        //- p.sns__box-text 写真
        //- p.sns__box-text.sns__box-text--right インスタ
        //-   br
        //-   | 投稿画面

      .sns__item
        img.sns__box-img(src="dist/image/sns-box-img.svg")
        //- p.sns__box-text 写真
        //- p.sns__box-text.sns__box-text--right インスタ
        //-   br
        //-   | 投稿画面
      
      .sns__item.sns__item--right
        img.sns__box-img(src="dist/image/sns-box-img-right.svg")
        //- p.sns__box-text 写真
        //- p.sns__box-text.sns__box-text--right インスタ
        //-   br
        //-   | 投稿画面