.survey.max-width
  .survey__container
    img.survey__container-bg(src="dist/image/blue-section.svg")

    p.survey__title こんなお悩み抱えていませんか？

    .survey__list
      .survey__item
        p.survey__item-title #タイトルが入ります
        .bubble-box
          img.bubble-box__img(src="dist/image/bubble-box.svg")
          p.bubble-box__text これはコピーです○○○○○○○。これはコピーです○○○○○○○。これはコピーです○○○○○○○。これはコピーです。これはコピーです○○○○○○○。○○○○○○○。これはコピーです○○○○○○○。これはコピーです。○○○○○○○。これはコピーです○○○○○○○。これはコピーです○○○○○○○。
      
      .survey__item.survey__item--flip
        p.survey__item-title #タイトルが入ります
        .bubble-box
          img.bubble-box__img(src="dist/image/bubble-box.svg")
          p.bubble-box__text これはコピーです○○○○○○○。これはコピーです○○○○○○○。これはコピーです○○○○○○○。これはコピーです。これはコピーです○○○○○○○。○○○○○○○。これはコピーです○○○○○○○。これはコピーです。○○○○○○○。これはコピーです○○○○○○○。これはコピーです○○○○○○○。

      .survey__item
        p.survey__item-title #タイトルが入ります
        .bubble-box
          img.bubble-box__img(src="dist/image/bubble-box.svg")
          p.bubble-box__text これはコピーです○○○○○○○。これはコピーです○○○○○○○。これはコピーです○○○○○○○。これはコピーです。これはコピーです○○○○○○○。○○○○○○○。これはコピーです○○○○○○○。これはコピーです。○○○○○○○。これはコピーです○○○○○○○。これはコピーです○○○○○○○。
      
      .survey__item.survey__item--flip
        p.survey__item-title #タイトルが入ります
        .bubble-box
          img.bubble-box__img(src="dist/image/bubble-box.svg")
          p.bubble-box__text これはコピーです○○○○○○○。これはコピーです○○○○○○○。これはコピーです○○○○○○○。これはコピーです。これはコピーです○○○○○○○。○○○○○○○。これはコピーです○○○○○○○。これはコピーです。○○○○○○○。これはコピーです○○○○○○○。これはコピーです○○○○○○○。

      .survey__item
        p.survey__item-title #タイトルが入ります
        .bubble-box
          img.bubble-box__img(src="dist/image/bubble-box.svg")
          p.bubble-box__text これはコピーです○○○○○○○。これはコピーです○○○○○○○。これはコピーです○○○○○○○。これはコピーです。これはコピーです○○○○○○○。○○○○○○○。これはコピーです○○○○○○○。これはコピーです。○○○○○○○。これはコピーです○○○○○○○。これはコピーです○○○○○○○。
