.video-section
  .video-section__container
    img.video-section__container-bg(src="dist/image/video-section-bg.svg")

    p.video-section__title.font-jun34 動画でご紹介タイトル
  
  .video-section__content
    .video-section__img-holder
      img.video-section__img(src="dist/image/video-section-img.svg")
    
    p.video-section__text 自信を持っておすすめします。
      br
      | まずはお試しください！