doctype html
html(lang="ja")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    link(rel="stylesheet", href="dist/sass/style.css")
    title Index
  body
    include components/banner.pug
    include components/center-paragraph.pug
    include components/campaign.pug
    include components/survey.pug
    include components/info.pug
    include components/campaign.pug
    include components/customer-voice.pug
    include components/video-section.pug
    include components/sns.pug
    include components/faq.pug
    include components/pr-column.pug
    include components/campaign.pug

    footer.footer
      p.footer__text efs corporation
    

    
