
<div class="banner max-width">
  <div class="banner__container"><img class="banner__container-bg" src="dist/image/banner-image.svg"/>
    <div class="banner__logo">LOGO</div>
    <div class="banner__circle"><img class="banner__container-bg" src="dist/image/banner-circle.svg"/>
      <p class="banner__circle-text-group"><span class="banner__circle-text banner__circle-text--yellow-line">ビタミンB12</span><br/>レバー<br/>○g分</p>
    </div>
    <div class="banner__circle banner__circle--second"><img class="banner__container-bg" src="dist/image/banner-circle.svg"/>
      <p class="banner__circle-text-group"><span class="banner__circle-text banner__circle-text--yellow-line">ビタミンC</span><br/>レモン<br/>○個分</p>
    </div>
    <div class="banner__circle banner__circle--third"><img class="banner__container-bg" src="dist/image/banner-circle.svg"/>
      <p class="banner__circle-text-group"><span class="banner__circle-text banner__circle-text--yellow-line">ビタミンB12</span><br/>レバー<br/>○g分</p>
    </div>
    <div class="banner__circle banner__circle--fourth"><img class="banner__container-bg" src="dist/image/banner-circle.svg"/>
      <p class="banner__circle-text-group"><span class="banner__circle-text banner__circle-text--yellow-line">ビタミンC</span><br/>レモン<br/>○個分</p>
    </div><img class="banner__center" src="dist/image/banner-center-container.svg"/>
    <div class="banner__center-content">     
      <div class="banner__round-text"><span>新発売</span></div>
    </div>
    <div class="banner__main-title">私は1日○粒で</div>
    <div class="banner__main-title banner__main-title--right">栄養をとるの<span>。</span></div>
  </div>
</div>