
<div class="section campaign max-width">
  <div class="campaign__list">
    <div class="campaign__item">
      <div class="campaign__wrapper">
        <div class="campaign__col campaign__col--with-padding"><span class="campaign__new-release-text">1日の目安量○粒</span>
          <div class="campaign__circle-img"><img src="dist/image/circle-btn.png"/></div>
          <div class="campaign__yellow-box"><img class="campaign__yellow-box-img" src="dist/image/campaign-yellow-box.svg"/></div>
        </div>
        <div class="campaign__col">
          <div class="campaign__row campaign__row-width">
            <div class="campaign__col">
              <div class="campaign__title">〈初回限定〉お試しキャンペーン</div>
              <div class="campaign__title-col">
                <div class="campaign__title-black">efsマルチビタミン</div><span class="campaign__black-small-text">内容量 ○○○粒<br/>（約○ヶ月分）</span>
              </div><span class="campaign__text-with-arrow">▼通常価格 0,000円</span>
            </div>
          </div>
          <div class="campaign__col campaign__ribbon"><img src="dist/image/campaign-ribbon.svg"/><span class="campaign__ribbon-text">送料<br/>無料</span></div>
          <div class="campaign__title-pink"> 
            <p> <span class="campaign__title-pink-36">特別価格 </span><span class="campaign__title-pink-41">0,000</span><span class="campaign__title-pink-yen">円</span></p><span class="campaign__pink-small-text">（税込）</span>
          </div>
          <div class="campaign__btn">
            <div class="campaign__btn-content">
              <div class="campaign__cart-img"><img src="dist/image/cart.svg"/></div><span class="font-kg-bold">カートに入れる</span>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="campaign__item campaign__item--second">
      <div class="campaign__wrapper campaign__wrapper--second">
        <div class="campaign__col">
          <div class="campaign__row align-center">
            <div class="campaign__circle-img"><img src="dist/image/circle-btn.png"/></div><span class="campaign__new-release-text">1日の目安量<br/>○粒</span>
          </div>
          <div class="campaign__yellow-box"><img class="campaign__yellow-box-img" src="dist/image/campaign-yellow-box.svg"/></div>
        </div>
        <div class="campaign__second-col">
          <div class="campaign__col">
            <div class="campaign__title-col">
              <div class="campaign__title-black">efsマルチビタミン</div><span class="font-9 font-noto campaign__black-small-text">内容量 ○○○粒<br/>（約○ヶ月分） </span>
            </div>
            <div class="campaign__second-row">
              <div class="campaign__ribbon-horizontal"><img class="campaign__yellow-box-img" src="dist/image/ribbon-horizontal.svg"/><span class="campaign__ribbon-horizontal-text">送料無料</span></div><span class="font-20 p-lr-5 font-noto bold">通常<br/>価格</span>
              <div class="campaign__price-text"> 
                <p class="campaign__price bold">0,000<span class="campaign__yen bold">円</span></p><span class="campaign__price-text-small">（税込）</span>
              </div>
            </div>
          </div>
          <div class="campaign__btn">
            <div class="campaign__btn-content">
              <div class="campaign__cart-img"><img src="dist/image/cart.svg"/></div><span class="font-kg-bold">カートに入れる</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <p class="campaign__paragraph-bottom">これ[原材料]これはコピーです○○○○○○○。これはコピーです○○○○○○○。これはコピーです○○○○○○○。これはコピーです。これはコピーです○○○○○○○。[栄養成分]○○○○○○○。これはコピーです○○○○○○○。これはコピーです。○○○○○○○。これはコピーです○○○○○○○。[保存方法]これはコピーです○○○○○○○。これはコピーです○○○○○○○。[注意事項]これはコピーです○○○○○○○。これはコピーです○○○○○○○。これはコピーです○○○○○○○。これはコピーです○○○○○○○。</p>
</div>