
<div class="section campaign max-width">
  <p class="center-paragraph">これはコピーです○○○○○○○○○○。これはコピーです○○○○○○○○○○。<br/>これはコピーです○○○○○○○○○○。これはコピーです○○○○○○○○○○。これはコピーです○○○○○○○○○○。これはコピーです○○○○○○○○○○。
    これはコピーです○○○○○○○○○○。これはコピーです○○○○○○○○○○。これはコピーです○○○○○○○○○○。
  </p>
</div>