
<div class="customer-voice">
  <div class="customer-voice__container"><img class="customer-voice__container-bg" src="dist/image/customer-voice-top.svg"/>
    <p class="customer-voice__title font-jun34">お客様の声</p>
    <div class="customer-voice__list">
      <div class="customer-voice__item"><img class="customer-voice__box-img" src="dist/image/faq-whole.svg"/>
        <div class="customer-voice__box-content">
          <p class="customer-voice__text">これはコピーです○○○○○○○。これはコピーです○○○○○○○。これはコピーです○○○○○○○。これはコピーです。これはコピーです○○○○○○○。○○○○○○○。</p>
          <p class="customer-voice__date">20代　○○○さま</p>
        </div>
        <div class="customer-voice__box-content customer-voice__box-content--second">
          <p class="customer-voice__text">これはコピーです○○○○○○○。これはコピーです○○○○○○○。これはコピーです○○○○○○○。これはコピーです。これはコピーです○○○○○○○。○○○○○○○。</p>
          <p class="customer-voice__date">20代　○○○さま</p>
        </div>
        <div class="customer-voice__box-content customer-voice__box-content--third">
          <p class="customer-voice__text">これはコピーです○○○○○○○。これはコピーです○○○○○○○。これはコピーです○○○○○○○。これはコピーです。これはコピーです○○○○○○○。○○○○○○○。</p>
          <p class="customer-voice__date">20代　○○○さま</p>
        </div>
        <div class="customer-voice__box-content customer-voice__box-content--second customer-voice__box-content--fourth">
          <p class="customer-voice__text">これはコピーです○○○○○○○。これはコピーです○○○○○○○。これはコピーです○○○○○○○。これはコピーです。これはコピーです○○○○○○○。○○○○○○○。</p>
          <p class="customer-voice__date">20代　○○○さま</p>
        </div>
        <div class="customer-voice__box-content customer-voice__box-content--third customer-voice__box-content--fifth">
          <p class="customer-voice__text">これはコピーです○○○○○○○。これはコピーです○○○○○○○。これはコピーです○○○○○○○。これはコピーです。これはコピーです○○○○○○○。○○○○○○○。</p>
          <p class="customer-voice__date">20代　○○○さま</p>
        </div>
      </div>
    </div>
  </div>
</div>