
<div class="section sns">
  <div class="sns__container"><img class="sns__container-bg" src="dist/image/sns-bg.svg"/><img class="sns__container-bg-sp" src="dist/image/sns-bg-sp.svg"/>
    <p class="sns__title font-jun34">SNSでも<br/>「esfマルチビタミン」を大絶賛</p>
    <div class="sns__list">
      <div class="sns__item"><img class="sns__box-img" src="dist/image/sns-box-img.svg"/></div>
      <div class="sns__item sns__item--right"><img class="sns__box-img" src="dist/image/sns-box-img-right.svg"/></div>
      <div class="sns__item"><img class="sns__box-img" src="dist/image/sns-box-img.svg"/></div>
      <div class="sns__item sns__item--right"><img class="sns__box-img" src="dist/image/sns-box-img-right.svg"/></div>
    </div>
  </div>
</div>