
<div class="survey max-width">
  <div class="survey__container"><img class="survey__container-bg" src="dist/image/blue-section.svg"/>
    <p class="survey__title">こんなお悩み抱えていませんか？</p>
    <div class="survey__list">
      <div class="survey__item">
        <p class="survey__item-title">#タイトルが入ります</p>
        <div class="bubble-box"><img class="bubble-box__img" src="dist/image/bubble-box.svg"/>
          <p class="bubble-box__text">これはコピーです○○○○○○○。これはコピーです○○○○○○○。これはコピーです○○○○○○○。これはコピーです。これはコピーです○○○○○○○。○○○○○○○。これはコピーです○○○○○○○。これはコピーです。○○○○○○○。これはコピーです○○○○○○○。これはコピーです○○○○○○○。</p>
        </div>
      </div>
      <div class="survey__item survey__item--flip">
        <p class="survey__item-title">#タイトルが入ります</p>
        <div class="bubble-box"><img class="bubble-box__img" src="dist/image/bubble-box.svg"/>
          <p class="bubble-box__text">これはコピーです○○○○○○○。これはコピーです○○○○○○○。これはコピーです○○○○○○○。これはコピーです。これはコピーです○○○○○○○。○○○○○○○。これはコピーです○○○○○○○。これはコピーです。○○○○○○○。これはコピーです○○○○○○○。これはコピーです○○○○○○○。</p>
        </div>
      </div>
      <div class="survey__item">
        <p class="survey__item-title">#タイトルが入ります</p>
        <div class="bubble-box"><img class="bubble-box__img" src="dist/image/bubble-box.svg"/>
          <p class="bubble-box__text">これはコピーです○○○○○○○。これはコピーです○○○○○○○。これはコピーです○○○○○○○。これはコピーです。これはコピーです○○○○○○○。○○○○○○○。これはコピーです○○○○○○○。これはコピーです。○○○○○○○。これはコピーです○○○○○○○。これはコピーです○○○○○○○。</p>
        </div>
      </div>
      <div class="survey__item survey__item--flip">
        <p class="survey__item-title">#タイトルが入ります</p>
        <div class="bubble-box"><img class="bubble-box__img" src="dist/image/bubble-box.svg"/>
          <p class="bubble-box__text">これはコピーです○○○○○○○。これはコピーです○○○○○○○。これはコピーです○○○○○○○。これはコピーです。これはコピーです○○○○○○○。○○○○○○○。これはコピーです○○○○○○○。これはコピーです。○○○○○○○。これはコピーです○○○○○○○。これはコピーです○○○○○○○。</p>
        </div>
      </div>
      <div class="survey__item">
        <p class="survey__item-title">#タイトルが入ります</p>
        <div class="bubble-box"><img class="bubble-box__img" src="dist/image/bubble-box.svg"/>
          <p class="bubble-box__text">これはコピーです○○○○○○○。これはコピーです○○○○○○○。これはコピーです○○○○○○○。これはコピーです。これはコピーです○○○○○○○。○○○○○○○。これはコピーです○○○○○○○。これはコピーです。○○○○○○○。これはコピーです○○○○○○○。これはコピーです○○○○○○○。</p>
        </div>
      </div>
    </div>
  </div>
</div>