.max-width {
  max-width: 800px;
  margin: 0 auto;
}

.target {
  font-size: 20px;
  padding: 20px;
  text-align: center;
  @media screen and (max-width: 600px) {
    font-size: 3vw;
  }
}

.center-paragraph {
  text-align: center;
  width: 478px;
  margin: 0 auto;
  font-size: 12px;
  font-family: $kosugi-maru;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  line-height: 1.5;
  margin-bottom: 20px;

  @media screen and (max-width: 600px) {
    font-size: 1.6vw;
    width: 79.66vw;
    margin-bottom: 2.83vw;
  }
}

.font-50 {
  font-size: 50px;

  @media screen and (max-width: 600px) {
    font-size: 5.8vw;
  }
}

.font-35 {
  font-size: 35px;

  @media screen and (max-width: 600px) {
    font-size: 3.8vw;
  }
}
.font-20 {
  font-size: 20px;

  @media screen and (max-width: 600px) {
    font-size: 3.3vw;
  }
}

.font-13 {
  font-size: 13px;
  @media screen and (max-width: 600px) {
    font-size: 2.5vw;
  }
}

.font-9 {
  font-size: 9px;
  line-height: 1;

  @media screen and (max-width: 600px) {
    font-size: 1.5vw;
  }
}


.p-lr-5 {
  padding: 0 5px;
}

.align-center {
  align-items: center;
}

.bold {
  font-weight: bold;
}

.font-rounded-mplus {
  font-family: $rounded-mplus;
}

.font-noto {
  font-family: $noto;
}


.mt-67 {
  margin-top: 31px;

  @media screen and (max-width: 600px) {
    margin-bottom: 5.16vw;
  }
}