@import url('https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mochiy+Pop+P+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kosugi+Maru&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Yuji+Hentaigana+Akari&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+JP:wght@400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caveat&display=swap');

@import 'settings/_settings.scss';
@import 'generic/_normalize.scss';
@import 'elements/_elements.scss';

// components
@import 'components/_heading.scss';
@import 'components/_banner.scss';
@import 'components/_campaign.scss';
@import 'components/_survey.scss';
@import 'components/_bubble-box.scss';
@import 'components/_info.scss';
@import 'components/_customer-voice.scss';
@import 'components/_video-section.scss';
@import 'components/_sns.scss';
@import 'components/_faq.scss';
@import 'components/_pr-column.scss';
@import 'components/_footer.scss';

//helper
@import 'helper.scss';